{{#each cat_brands}}
  <div class="col-sm-6">
    <h3>
        <a href="#">{{name}}</a>
    </h3>
    {{#each types as |Types|}}
    <p>
      <h4>{{Types.type}}</h4>
      <ul>
      {{#each volumes}}
        <li>{{name}} for ${{price}}</li>
      {{/each}}
      </ul>
    </p>
    {{/each}}
  </div>
{{/each}}
